<h1 class="menu-title">Main Menu</h1>

<div class="menu-container">
  <button class="menu-button btn btn-primary" (click)="userRegistration()">Register an Account</button>
  <button class="menu-button btn btn-success" (click)="viewTransactions()">Transactions</button>
  <button class="menu-button btn btn-success" (click)="addBank()">Add Bank</button>
  <button class="menu-button btn btn-warning" (click)="tickTacToe()">Tick Tac Toe</button>
  <button class="menu-button btn btn-info" (click)="downloadResume()">Download Resume</button>
  <button class="menu-button btn btn-danger" (click)="sendEmail()">Email Me</button>
</div>
